## STM32CubeIDE
.metadata
.settings
[Rr]elease
[Dd]ebug
.launch


## KiCAD
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
\#auto_saved_files\#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Zipped production file
*.zip


## AutoCAD
# Temporary hidden files
*.dwl
*.dwl2

# Backup files
*.bak


## SolidWorks
~$*.SLDPRT
~$*.SLDASM


## Misc
# ignore OS X desktops
.DS_Store
